*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(41, 40, 40);
    font-family: sans-serif;
}

.body-container{
    border: 4px solid #050505;
    width: 800px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px; */
    margin: 50px auto;
}


.product-title{
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

h2::after{
    content: "SALE";
    background-color: rgb(235, 22, 22);
    font-size: 15px;
    color: white;
    padding: 10px 5px;
    position: absolute;
    top: -17px;
    left: -30px;
    letter-spacing: 5px;
}

.price {
    font-weight: bold;
    font-size: 25px;
}

.shipping{
    text-transform: uppercase;
    color: #858585;
    margin-bottom: 20px;
}

.post-shipping{
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    line-height: 1.5;
}


.more-info-container{
    margin-bottom: 20px;
}

/* implementing pseudo class */

a:hover{
    text-decoration: none;
}

.box-container {
    margin-bottom: 20px;
    margin-left: 4px;
   /* display: inline-block; */
}

.box-1 {
    height: 30px;
    width: 30px;
    background-color: rgb(250, 33, 33);
    display: inline-block;
}

.box-2 {
    height: 30px;
    width: 30px;
    background-color: rgb(66, 33, 250);
    display: inline-block;
}

.box-3{
    height: 30px;
    width: 30px;
    background-color: rgb(33, 250, 62);
    display: inline-block;
}

.box-4{
    height: 30px;
    width: 30px;
    background-color: rgb(248, 244, 3);
    display: inline-block;
}

.box-5
{
    height: 30px;
    width: 30px;
    background-color: rgb(221, 87, 10);
    display: inline-block;
}

.details-title{
    margin-bottom: 20px;
}

li{
    margin-left: 50px;
    margin-bottom: 10px;
}

/* li:last-child{
    margin-bottom: 0;
} */

.add-cart{
    font-size: larger;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: none;
    padding: 15px;
    width: 100%;
}

button:hover{
    background-color: rgb(144, 144, 144);
    color: black;
    background-color: white;
    cursor: pointer;
    border-top: 4px solid black;
}


/* .button-container{
    border-top: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
} */


